Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","REGIONS AND BASES BRANCH","CSI NT|K DIRECTORATE","TECHNIICAL SERVICES","GREG","WOOLLEY","redacted@example.com","118200","","CURRENT EMPLOYEE","8029053","ROBERTSON BARRACKS","THORNGATE ROAD","","PALMERSTON","NT","830","NT","ROBERT BURGESS","0889354438","ELIZABETH COSSON","DG REGIONS AND BASES","BRIGADIER","redacted@example.com","3236","ADD","0400318243","M","TELSTRA","2627560400","","","","CDMA","ACTIVE","N","N","N","N","N","N","POOL PHONE","11623","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","245050877P","IN USE","28846","ADD"
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","REGIONS AND BASES BRANCH","CSI WA DIRECTORATE","ICT SERVICE SUPPORT (VOICE SERVICES)","JAMES","MELROSE","redacted@example.com","118700","","CURRENT EMPLOYEE","8031938","LEEUWIN BARRACKS","RIVERSIDE ROAD","","EAST FREMANTLE","WA","6158","WA","MARK TIPPETT","0893112482","ELIZABETH COSSON","DG REGIONS AND BASES","BRIGADIER","redacted@example.com","3603","ADD","0400322472","M","TELSTRA","2623090400","","","","CDMA","ACTIVE","N","N","N","N","N","N","POOL PHONE","11624","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","245051792P","IN USE","28847","ADD"
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","REGIONS AND BASES BRANCH","CSI WA DIRECTORATE","ICT SERVICE SUPPORT (VOICE SERVICES)","JAMES","MELROSE","redacted@example.com","118700","","CURRENT EMPLOYEE","8031938","LEEUWIN BARRACKS","RIVERSIDE ROAD","","EAST FREMANTLE","WA","6158","WA","MARK TIPPETT","0893112482","ELIZABETH COSSON","DG REGIONS AND BASES","BRIGADIER","redacted@example.com","3603","ADD","0400395602","M","TELSTRA","2623090400","","","","CDMA","ACTIVE","N","N","N","N","N","N","POOL PHONE","11625","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","245051750P","IN USE","28848","ADD"
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","REGIONS AND BASES BRANCH","CSI WA DIRECTORATE","ICT SERVICE SUPPORT (VOICE SERVICES)","JAMES","MELROSE","redacted@example.com","118700","","CURRENT EMPLOYEE","8031938","LEEUWIN BARRACKS","RIVERSIDE ROAD","","EAST FREMANTLE","WA","6158","WA","MARK TIPPETT","0893112482","ELIZABETH COSSON","DG REGIONS AND BASES","BRIGADIER","redacted@example.com","3603","ADD","0400411266","M","TELSTRA","2623090400","","","","CDMA","ACTIVE","N","N","N","N","N","N","POOL PHONE","11626","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","245051842P","IN USE","28849","ADD"