Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","AIR FORCE","DEPUTY CHIEF OF AIR FORCE DIVISION","AF BRANCH","AF DIRECTORATE","DDAAFS","DAVID","PANG","redacted@example.com","422483","","CURRENT EMPLOYEE","8180462","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","MARK PENTREATH","0262667768","JOHN BLACKBURN","DEPUTY CHIEF OF AIR FORCE","AIR VICE-MARSHAL","","2293","ADD","0411125847","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","4652","ADD","MOBILE PHONE","NOKIA","3120","350037009706170","","IN USE","2064","ADD","SIM CARD","TELSTRA","SIM CARD","","0104507001601","IN USE","14036","ADD"
