Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","ARMY","A DIVISION","A BRANCH","A DIRECTORATE","1 MP BN","DEBBIE","FISHER","redacted@example.com","311310","","CURRENT EMPLOYEE","8235302","VICTORIA BARRACKS PADDINGTON","OXFORD STREET","","PADDINGTON","NSW","2021","EASTERN","ANGELA HILBORN","0293393115","MARK KELLY","LAND COMMANDER AUSTRALIA","MAJOR GENERAL","redacted@example.com","2448","ADD","0417204726","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","6016","ADD","MOBILE PHONE","NOKIA","3315","351486300919731","","IN USE","5558","ADD","SIM CARD","TELSTRA","SIM CARD","","207109786P","IN USE","15202","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CIOG","INFORMATION CAPABILITY MANAGEMENT DIVISION","DEFENCE NETWORK SUPPORT AGENCY","DEFENCE COMPUTING BUREAU","PSCT","DARYL","COLLINS","redacted@example.com","622533","","CURRENT EMPLOYEE","8003428","TUGGERANONG","205 ANKETELL STREET","","TUGGERANONG","ACT","2900","ACT","RICHARD GOWER","02 6266114","PETER ACUTT","COMMANDER DEFENCE NETWORK SUPPORT AGENCY","BRIGADIER","","2032","ADD","0417299813","M","TELSTRA","8261491400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","6158","ADD","SIM CARD","TELSTRA","SIM CARD","","217471929P","IN USE","19243","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","","","","KATHRYN","BROOKES","redacted@example.com","0000","","CURRENT EMPLOYEE","851037","CAMPBELL PARK","NORTHCOTT DRIVE","","CAMPBELL","ACT","2600","ACT"," ","","","","","","9642","ADD","0419423710","M","TELSTRA","1707669300","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","11981","ADD","SIM CARD","TELSTRA","SIM CARD","","217477264","IN USE","19222","ADD","","","","","","","","","","","","","","","",""
