Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","DSTO","SCIENCE POLICY DIVISION","SCIENCE CORPORATE MANAGEMENT BRANCH","DSTO DIRECTORATE","DSRM","CHRISTOPHER","NAGEL","redacted@example.com","862107","","CURRENT EMPLOYEE","8012710","FYSHWICK - TENNANT STREET","TENNANT STREET","","FYSHWICK","ACT","2609","ACT","DAMIAN VLANDIS","0262657932","MARTYN TAYLOR","AS SCIENCE CORPORATE MANAGEMENT","MR","redacted@example.com","1576","ADD","0405351248","M","VODAFONE","202634220","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","689","ADD","MOBILE PHONE","NOKIA","3315","351486300562739","","IN USE","3518","ADD","SIM CARD","VODAFONE","SIM CARD","","89610300000420331081RG","IN USE","10807","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","BUSINESS IMPROVEMENT PROJECT BRANCH","ICT MARKET TESTING DIRECTORATE","TECH","STEPHEN","ELLIS","redacted@example.com","711237","","CURRENT EMPLOYEE","8005309","CAMPBELL PARK","NORTHCOTT DRIVE","","CAMPBELL","ACT","2600","ACT","DAVID BLANCH","0262664462","FRANCIS ROBERTS","HEAD NATIONAL OPERATIONS DIVISION","MR","redacted@example.com","8036","ADD","0408624751","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","2643","ADD","MOBILE PHONE","NOKIA","3315","353385000340511","","IN USE","4300","ADD","SIM CARD","TELSTRA","SIM CARD","","125483487","DISPOSED OF","12457","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","DMO","LAND SYSTEMS DIVISION","LAND ENGINEERING AGENCY BRANCH","ENGINEERING SUPPORT DIRECTORATE","PEC","GREG","FOREMAN","redacted@example.com","352683","","CURRENT EMPLOYEE","8005933","DEFENCE PLAZA - SYDNEY","270 PITT STREET","","SYDNEY","NSW","2000","EASTERN","TERRY MURPHY","0383688505","CAROL SMITH","","","redacted@example.com","3316","ADD","0417430415","M","TELSTRA","2275783300","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","6259","ADD","SIM CARD","TELSTRA","SIM CARD","","19334276P","IN USE","15397","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","DANIEL","TELLAM","redacted@example.com","000000","","CURRENT EMPLOYEE","8200577","DARWIN","COONAWARRA ROAD","","DARWIN","NT","800","NORTHERN"," ","","","","","","9441","ADD","0417801694","M","TELSTRA","2627560400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","POOL PHONE","11923","ADD","MOBILE PHONE","NOKIA","3120","357088004181875","","IN USE","19152","ADD","SIM CARD","TELSTRA","SIM CARD","","217477454P","IN USE","19155","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","2ND DIVISION DIVISION","9 BDE BRANCH","12|40 RTR DIRECTORATE","12|40 RTR","STEPHAN","COLMAN","redacted@example.com","317350","","CURRENT EMPLOYEE","8222676","DERWENT BARRACKS DOWSING POINT MILITARY AREA","LLOYDS LANE","","GLENORCHY","TAS","7010","SOUTHERN","KEVIN KENNEDY","036237 755","TIMOTHY HANNA","COMMANDER 9 BRIGADE/ARMY AREA REPRESENTATIVE - SA","BRIGADIER","redacted@example.com","7991","ADD","0429783457","M","TELSTRA","1707669300","","","","CDMA","ACTIVE","Y","Y","N","N","N","N","SOLE USER","9928","ADD","MOBILE PHONE","NOKIA","2112","21DE287D","","IN USE","19142","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","DANIEL","TELLAM","redacted@example.com","000000","","CURRENT EMPLOYEE","8200577","DARWIN","COONAWARRA ROAD","","DARWIN","NT","800","NORTHERN"," ","","","","","","9441","ADD","0439878056","M","TELSTRA","2627560400","","","","GSM","SUSPENDED","Y","Y","N","N","N","N","POOL PHONE","11922","ADD","MOBILE PHONE","NOKIA","3120","357088004184408","","IN USE","19149","ADD","SIM CARD","TELSTRA","SIM CARD","","217477132P","IN USE","19151","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","DANIEL","TELLAM","redacted@example.com","000000","","CURRENT EMPLOYEE","8200577","DARWIN","COONAWARRA ROAD","","DARWIN","NT","800","NORTHERN"," ","","","","","","9441","ADD","0448653323","M","TELSTRA","2627560400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","POOL PHONE","11921","ADD","SIM CARD","TELSTRA","SIM CARD","","217478320P","IN USE","19144","ADD","MOBILE PHONE","NOKIA","3120","357088003363375","","IN USE","19145","ADD","","","","","","","",""
