Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","DSTO","SCIENCE POLICY DIVISION","SCIENCE CORPORATE MANAGEMENT BRANCH","DSTO DIRECTORATE","DSRM","CHRISTOPHER","NAGEL","redacted@example.com","862107","","CURRENT EMPLOYEE","8012710","RUSSELL OFFICES","TENNANT STREET","","FYSHWICK","ACT","2609","ACT","DAMIAN VLANDIS","0262657932","MARTYN TAYLOR","AS SCIENCE CORPORATE MANAGEMENT","MR","redacted@example.com","1576","ADD","0405351248","M","VODAFONE","202634220","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","689","ADD","MOBILE PHONE","NOKIA","3315","351486300562739","","IN USE","3518","ADD","SIM CARD","VODAFONE","SIM CARD","","89610300000420331081RG","IN USE","10807","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","ARMY HEADQUARTERS DIVISION","PERSONNEL BRANCH","A DIRECTORATE","APA S","WAYNE","PIGGOTT","redacted@example.com","323500","","CURRENT EMPLOYEE","8214773","VICTORIA BARRACKS PADDINGTON","OXFORD STREET","","PADDINGTON","NSW","2021","EASTERN","TAMARA GEIER","0293393251","JOHN CANTWELL","DG PERSONNEL - ARMY","BRIGADIER","redacted@example.com","8825","ADD","0408604575","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","Y","Y","N","N","SOLE USER","2507","ADD","MOBILE PHONE","NOKIA","3120","356649009277280","","IN USE","1683","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","NAVY","SYSTEMS COMMANDER DIVISION","OPERATIONS BRANCH","COMMANDING OFFICER HMAS ALBATROSS DIRECTORATE","EXEC","GREGORY","TINDALL","redacted@example.com","214211","","CURRENT EMPLOYEE","8060668","HMAS ALBATROSS","ALBATROSS ROAD","","NOWRA HILL","NSW","2540","EASTERN"," XOA","0244241831","GEOFFREY GERAGHTY","COMMANDER AUSTRALIAN NAVY SYSTEMS COMMAND","COMMODORE","redacted@example.com","3393","ADD","0411031918","M","OPTUS","23056203","","","","GSM","ACTIVE","N","N","N","N","N","N","POOL PHONE","4603","ADD","","","","","","","","","SIM CARD","OPTUS","SIM CARD","","0199032296791","IN USE","13994","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","NAVY","SYSTEMS COMMANDER DIVISION","OPERATIONS BRANCH","COMMANDING OFFICER HMAS ALBATROSS DIRECTORATE","EXEC","GRANT","FERGUSON","redacted@example.com","214211","","CURRENT EMPLOYEE","8025965","HMAS ALBATROSS","ALBATROSS ROAD","","NOWRA HILL","NSW","2540","EASTERN","BEV CLARKE","0244241120","GEOFFREY GERAGHTY","COMMANDER AUSTRALIAN NAVY SYSTEMS COMMAND","COMMODORE","redacted@example.com","3276","ADD","0412261971","M","OPTUS","23056203","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","5026","ADD","MOBILE PHONE","NOKIA","3315","351486301511842","","IN USE","5221","ADD","SIM CARD","OPTUS","SIM CARD","","0296143270333","IN USE","14355","ADD","SIM CARD","OPTUS","SIM CARD","","0008961020206415147952","IN USE","19066","ADD"
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","REGIONS AND BASES BRANCH","CSI ACT|NSW DIRECTORATE","ICT SERVICE SUPP FD","BRENDAN","HAZELL","redacted@example.com","682702","","CURRENT EMPLOYEE","8121115","WESTON CREEK","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","ERIC ASKERLUND","62660306","ELIZABETH COSSON","DG REGIONS AND BASES","BRIGADIER","redacted@example.com","1119","ADD","0414391547","M","VODAFONE","202634220","","","","CDMA","ACTIVE","N","N","N","N","N","N","SIM ONLY","5402","ADD","SIM CARD","VODAFONE","SIM CARD","","89610300000112277220","IN USE","14677","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","REGIONS AND BASES BRANCH","CSI ACT|NSW DIRECTORATE","CSI ACT SNSW","DAVID","MULHOLLAND","redacted@example.com","681501","","CURRENT EMPLOYEE","8515180","AUSTRALIAN DEFENCE FORCE ACADEMY  - ADFA","CANBERRA AVENUE","","CANBERRA","ACT","2600","ACT","ANTHONY BAKER","0262666626","ELIZABETH COSSON","DG REGIONS AND BASES","BRIGADIER","redacted@example.com","2280","ADD","0416062976","M","VODAFONE","202634220","","","","CDMA","ACTIVE","N","N","N","N","N","N","SIM ONLY","5542","ADD","","","","","","","","","SIM CARD","VODAFONE","SIM CARD","","89610300000211420523","IN USE","14799","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","DMO","LAND SYSTEMS DIVISION","LAND ENGINEERING AGENCY BRANCH","ENGINEERING SUPPORT DIRECTORATE","PEC","GREG","FOREMAN","redacted@example.com","352683","","CURRENT EMPLOYEE","8005933","DEFENCE PLAZA - SYDNEY","NA","","NA","NA","NA","EASTERN","TERRY MURPHY","0383688505","CAROL SMITH","","","redacted@example.com","3316","ADD","0417430415","M","TELSTRA","2275783300","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","6259","ADD","SIM CARD","TELSTRA","SIM CARD","","19334276P","IN USE","15397","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","LAND COMMANDER DIVISION","LAND HEADQUARTERS BRANCH","A DIRECTORATE","1 MP BN","JASON","WILSON","redacted@example.com","311312","","CURRENT EMPLOYEE","8222807","HOLSWORTHY BARRACKS","KOTHA BAHRU ROAD","","HOLSWORTHY","NSW","2174","EASTERN"," UNKNOWN","0287826004","MARK KELLY","LAND COMMANDER AUSTRALIA","MAJOR GENERAL","redacted@example.com","3884","ADD","0418493803","M","TELSTRA","8261491400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","11881","ADD","SIM CARD","TELSTRA","SIM CARD","","217470665P","IN USE","19102","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","NAVY","SYSTEMS COMMANDER DIVISION","OPERATIONS BRANCH","COMMANDING OFFICER HMAS WATSON DIRECTORATE","HMAS WATSON","JEFFREY","GOEDECKE","redacted@example.com","243000","","CURRENT EMPLOYEE","8073810","HMAS WATSON","CLIFF STREET","","WATSONS BAY","NSW","2030","EASTERN","JANE GALLEYMORE","0293370973","NIGEL COATES","DG NAVY PERSONNEL & TRAINING","COMMODORE","redacted@example.com","3936","ADD","0419988357","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","8572","ADD","MOBILE PHONE","NOKIA","3315","352958001325854","","IN USE","6520","ADD","SIM CARD","TELSTRA","SIM CARD","","238134837P","DISPOSED OF","17280","ADD","SIM CARD","TELSTRA","SIM CARD","","217470079P","IN USE","19081","ADD"
"DEPARTMENT OF DEFENCE","","","","","","ANDRE","REINDERS","redacted@example.com","000000","","CURRENT EMPLOYEE","8202838","DEFENCE ESTABLISHMENT FAIRBAIRN","PIALLIGO AVENUE","","CANBERRA","ACT","2600","ACT","SHANE JONES","0412703308","","","","","9422","ADD","0421587573","M","OPTUS","00402586","","","","GSM","ACTIVE","Y","Y","Y","Y","N","N","SOLE USER","11882","ADD","MOBILE PHONE","NOKIA","3120","357088004560417","","IN USE","19106","ADD","SIM CARD","OPTUS","SIM CARD","","0205539060281","IN USE","19109","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","ADAM","DAVIDSON","redacted@example.com","000000","","CURRENT EMPLOYEE","8491919","RAAF DARWIN","STUART HIGHWAY","","WINNELLIE","NT","820","NORTHERN","JOHN FARINA","0400318243","","","","","9367","ADD","0427398534","M","TELSTRA","2627560400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","11901","ADD","MOBILE PHONE","NOKIA","2112","21DE2939","","IN USE","19123","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","LAND COMMANDER DIVISION","LOGISTICS SUPPORT FORCE BRANCH","A DIRECTORATE","DFCO","JEFF","DOUST","redacted@example.com","315586","","CURRENT EMPLOYEE","8231316","GALLIPOLI BARRACKS ENOGGERA","LLOYD STREET","","ENOGGERA","QLD","4051","QLD","MARCUS BRUTY","0733327044","MICHAEL KEHOE","COMMANDER LOGISTIC SUPPORT FORCE","BRIGADIER","redacted@example.com","3911","ADD","0438189769","M","TELSTRA","2267743400","","","","GSM","ACTIVE","N","N","Y","Y","N","N","SOLE USER","10414","ADD","MOBILE PHONE","NOKIA","3315","353385005479371","","IN USE","6717","ADD","SIM CARD","TELSTRA","SIM CARD","","3861O2131N","IN USE","17793","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","SPECIAL OPERATIONS COMMANDER DIVISION","SPECIAL OPERATIONS HEADQUARTERS BRANCH","4 RAR DIRECTORATE","4 RAR","SEAN","THOMPSON","na","312190","","CURRENT EMPLOYEE","8265579","HOLSWORTHY BARRACKS","KOTHA BAHRU ROAD","","HOLSWORTHY","NSW","2174","EASTERN","TIM WEDESWEILER","0438695868","MICHAEL HINDMARSH","SPECIAL OPERATIONS COMMANDER AUSTRALIA","MAJOR GENERAL","redacted@example.com","7765","ADD","0438695305","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","10867","ADD","MOBILE PHONE","NOKIA","3120","356649008638219","","IN USE","3071","ADD","SIM CARD","TELSTRA","SIM CARD","","303444236N","DISPOSED OF","18175","ADD","SIM CARD","TELSTRA","SIM CARD","","217471465P","IN USE","19064","ADD"
"DEPARTMENT OF DEFENCE","ARMY","SPECIAL OPERATIONS COMMANDER DIVISION","SPECIAL OPERATIONS HEADQUARTERS BRANCH","4 RAR DIRECTORATE","4 RAR CDO","PAUL","JOHNSON","redacted@example.com","312190","","CURRENT EMPLOYEE","8228006","HOLSWORTHY BARRACKS","KOTHA BAHRU ROAD","","HOLSWORTHY","NSW","2174","EASTERN","JUSTIN ROBERTS","0287822626","MICHAEL HINDMARSH","SPECIAL OPERATIONS COMMANDER AUSTRALIA","MAJOR GENERAL","redacted@example.com","6363","ADD","0438698097","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","10922","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","303441372N","IN USE","18226","ADD","MOBILE PHONE","NOKIA","3120","357088004571349","","IN USE","19063","ADD"
