Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","","","","","","PENNY","MILLMAN","","000000","","CURRENT EMPLOYEE","","DSTO - EDINBURGH","WEST AVENUE","","EDINBURGH","SA","5111","CENTRAL"," ","","","","","","9793","ADD","0407970625","M","TELSTRA","2628601400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","12081","ADD","SIM CARD","TELSTRA","SIM CARD","","217471846","IN USE","19346","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CIOG","INFORMATION CAPABILITY MANAGEMENT DIVISION","DEFENCE NETWORK SUPPORT AGENCY","NETWORK OPERATIONS DIRECTORATE","NETWORK OPS","JOE","STOCKL","","118140","","CURRENT EMPLOYEE","8200853","HMAS HARMAN","CANBERRA AVENUE","","CANBERRA","ACT","2600","ACT","JOEL TURNER","0261278304","MICHAEL CLIFFORD","HEAD INFORMATION CAPABILITY MANAGEMENT DIVISION","MAJOR GENERAL","redacted@example.com","681","ADD","0411853137","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","4935","ADD","MOBILE PHONE","NOKIA","3120","356649008638086","","IN USE","2120","ADD","SIM CARD","TELSTRA","SIM CARD","","0101007030312","IN USE","14277","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","NAVY","MARITIME COMMANDER DIVISION","JOC BRANCH","SUBMARINE OPERATIONS DIRECTORATE","ASNCOMMCEN SUBOPAUTH","ROSS","SHACKLETON","","221212","","CURRENT EMPLOYEE","8111340","MHQ","14-18 WYLDE STREET","","POTTS POINT","NSW","2010","EASTERN","PAUL WRIGLEY","0293594205","BRUCE KAFER","CHIEF OF COMBAT SUPPORT GROUP","COMMODORE","redacted@example.com","2000","ADD","0413389855","M","OPTUS","23056203","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","5248","ADD","MOBILE PHONE","NOKIA","3120","356649008630703","","IN USE","2173","ADD","SIM CARD","OPTUS","SIM CARD","","0399101136510","IN USE","14549","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","ROBERT","LEE","redacted@example.com","000000","","CURRENT EMPLOYEE","","VICTORIA BARRACKS PADDINGTON","OXFORD STREET","","PADDINGTON","NSW","2021","EASTERN"," ","","","","","","9794","ADD","0417888042","M","TELSTRA","1707669300","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","12082","ADD","SIM CARD","TELSTRA","SIM CARD","","217472604","IN USE","19351","ADD","MOBILE PHONE","NOKIA","3120","357088004565473","","IN USE","19352","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","2ND DIVISION DIVISION","4 BDE BRANCH","HQ 4 BDE DIRECTORATE","HQ 4 BDE","GREGORY","MURPHY","","317215","","CURRENT EMPLOYEE","8214306","SIMPSON BARRACKS (WATSONIA)","GREENSBOROUGH ROAD","","MACLEOD","VIC","3085","SOUTHERN","ANNE GAVIN","9450 7380","STEVEN AIRD","COMMANDER 4 BRIGADE","BRIGADIER","redacted@example.com","993","ADD","0419283947","M","TELSTRA","2275783300","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","7908","ADD","MOBILE PHONE","NOKIA","3120","356649005222850","","IN USE","2648","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","DMO","ELECTRONIC & WEAPONS SYSTEMS DIVISION","COMMUNICATION SYSTEMS BRANCH","SATELLITE COMMUNICATIONS SYSTEMS DIRECTORATE","JP 2008 PHASE 3E","ALEXANDER","ANQUILLANO","","614003","","CURRENT EMPLOYEE","8439042","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT"," ","","DAVID MARSHALL","DG COMMUNICATION SYSTEMS","MR","redacted@example.com","4809","ADD","0419781769","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","8387","ADD","MOBILE PHONE","NOKIA","3120","355037009706378","","IN USE","2737","ADD","SIM CARD","TELSTRA","SIM CARD","","236929766N","IN USE","17137","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","DEPLOYABLE JOINT HEADQUARTERS DIVISION","7 BDE BRANCH","7 CSSB DIRECTORATE","7 CSSB","ALLAN","SCHMIDT","redacted@example.com","315690","","CURRENT EMPLOYEE","8248523","GALLIPOLI BARRACKS ENOGGERA","LLOYD STREET","","ENOGGERA","QLD","4051","QLD","SCOTT BERNAU","0933327902","ANDREW SMITH","COMMANDER 7 BRIGADE","BRIGADIER","","8843","ADD","0427069110","M","TELSTRA","2267743400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","8731","ADD","MOBILE PHONE","NOKIA","2280","262C17BE","","IN USE","728","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","A DIVISION","A BRANCH","A DIRECTORATE","1 DIV, 1 BDE, 8|12 MDM REGT","ADAM","WHITE","","315622","","CURRENT EMPLOYEE","8492350","ROBERTSON BARARCKS","THORNGATE ROAD","","PALMERSTON","NT","830","NORTHERN","UNKNOWN SCOTT","0889353843","CRAIG ORME","COMMANDER 1 BRIGADE","BRIGADIER","redacted@example.com","4826","ADD","0428190602","M","TELSTRA","2627560400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","9124","ADD","MOBILE PHONE","NOKIA","2112","2C611D1A","","IN USE","274","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","LAND COMMANDER DIVISION","LOGISTICS SUPPORT FORCE BRANCH","HQFSG DIRECTORATE","2 FSB HQ","JAMES","COTTON","","318645","","CURRENT EMPLOYEE","8245523","DERWENT BARRACKS DOWSING POINT MILITARY AREA","LLOYDS LANE","","GLENORCHY","TAS","7010","SOUTHERN","LINDSAY BIRD","0362377508","MICHAEL KEHOE","COMMANDER LOGISTIC SUPPORT FORCE","BRIGADIER","redacted@example.com","6170","ADD","0428610766","M","TELSTRA","2275783300","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","9409","ADD","MOBILE PHONE","NOKIA","2280","2B65CD38","","IN USE","988","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","A DIVISION","A BRANCH","A DIRECTORATE","1 DIV, 1 BDE, 8|12 MDM REGT","DANIEL","STEWART","","315622","","CURRENT EMPLOYEE","8256079","ROBERTSON BARARCKS","THORNGATE ROAD","","PALMERSTON","NT","830","NORTHERN","D. STEWART","0889352822","CRAIG ORME","COMMANDER 1 BRIGADE","BRIGADIER","redacted@example.com","5852","ADD","0429649829","M","TELSTRA","2627560400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","9876","ADD","MOBILE PHONE","NOKIA","2112","2102AAC6","","IN USE","471","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","2ND DIVISION DIVISION","4 BDE BRANCH","HQ 4 BDE DIRECTORATE","HQ 4 BDE","MARSHALL","CLIFTON","","317215","","CURRENT EMPLOYEE","8243377","SIMPSON BARRACKS (WATSONIA)","GREENSBOROUGH ROAD","","MACLEOD","VIC","3085","SOUTHERN","ANNE GAVIN","0394503780","STEVEN AIRD","COMMANDER 4 BRIGADE","BRIGADIER","redacted@example.com","2801","ADD","0438325297","M","TELSTRA","2275783300","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","10535","ADD","MOBILE PHONE","NOKIA","2280","262C23FB","","IN USE","1187","ADD","","","","","","","","","","","","","","","",""

