Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","DSTO","DSTO DIVISION","DSTO BRANCH","DSTO DIRECTORATE","SCIENCE CORPORATE MGT","KEVIN","HERNAN","redacted@example.com","862109","","CURRENT EMPLOYEE","8491338","DSTO - EDINBURGH","WEST AVENUE","","EDINBURGH","SA","5111","CENTRAL","RENZO BONINI","82596121","MARTYN TAYLOR","AS SCIENCE CORPORATE MANAGEMENT","MR","redacted@example.com","4697","ADD","0421588107","M","OPTUS","23056203","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","8596","ADD","MOBILE PHONE","NOKIA","3120","355037009712814","","IN USE","2777","ADD","SIM CARD","OPTUS","SIM CARD","","03 04545 13924 5","IN USE","17298","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","VCDF","VCDF DIVISION","VCDF BRANCH","VCDF DIRECTORATE","C2IT","MICHAEL","BATES","redacted@example.com","761104","","CURRENT EMPLOYEE","8248533","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","STEVE GILL","(02) 626 6","KENNETH GILLESPIE","VICE CHIEF OF THE DEFENCE FORCE","LIEUTENANT GENERAL","redacted@example.com","5631","ADD","0429364547","M","TELSTRA","2627560400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","9745","ADD","MOBILE PHONE","NOKIA","2112","12556144","","IN USE","434","ADD","","","","","","","","","","","","","","","",""

