Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","AIR FORCE","AIR FORCE COMBAT | AUSTRALIAN THEATRE AIR COMPONENT  HEADQUARTERS AIR COMMAND RAAF GLENBROOK DIVISION","HEADQUARTERS AIR LIFT GROUP BRANCH","NO 84 WING DIRECTORATE","34 SQN","LEIGH","COOLEY","redacted@example.com","417450","","CURRENT EMPLOYEE","8182302","DEFENCE ESTABLISHMENT FAIRBAIRN","PIALLIGO AVENUE","","CANBERRA","ACT","2600","ACT","CHRIS DUNSTAN","0261276260","GLEN STEED","COMMANDER AIR LIFT GROUP","AIR COMMODORE","redacted@example.com","4888","ADD","0400003653","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","1","ADD","MOBILE PHONE","NOKIA","3120 GSM","355358009989016","","IN USE","1210","ADD","SIM CARD","TELSTRA","SIM CARD","","366257715N","IN USE","10257","ADD"
"DEPARTMENT OF DEFENCE","AIR FORCE","AIR FORCE COMBAT | AUSTRALIAN THEATRE AIR COMPONENT  HEADQUARTERS AIR COMMAND RAAF GLENBROOK DIVISION","HEADQUARTERS AIR LIFT GROUP BRANCH","NO 84 WING DIRECTORATE","34 SQN","ALISTAIR","DALLY","redacted@example.com","417450","","CURRENT EMPLOYEE","8203762","DEFENCE ESTABLISHMENT FAIRBAIRN","PIALLIGO AVENUE","","CANBERRA","ACT","2600","ACT"," TASKO","0261276222","GLEN STEED","COMMANDER AIR LIFT GROUP","AIR COMMODORE","redacted@example.com","453","ADD","0400003654","M","TELSTRA","8261491400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","2","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","366257707N","IN USE","10258","ADD"
"DEPARTMENT OF DEFENCE","DMO","OPERATING OFFICE DIVISION","DM BRANCH","DM DIRECTORATE","AEMMS PO","DOUGLAS","PERCY","redacted@example.com","331134","","CURRENT EMPLOYEE","8013871","FYSHWICK - CANBERRA AVENUE","CANBERRA AVENUE","","FYSHWICK","ACT","2609","ACT","NEIL TAYLOR","0262661606","DAVID MCGAHEY","DG MATERIEL SYSTEMS","BRIGADIER","","2622","ADD","0400003673","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","POOL PHONE","3","ADD","MOBILE PHONE","NOKIA","3315 GSM ","351454300575671","","IN USE","3258","ADD","SIM CARD","TELSTRA","SIM CARD","","366257699N","IN USE","10259","ADD"
"DEPARTMENT OF DEFENCE","CSIG","INFRASTRUCTURE DIVISION","CSI BRANCH","CSI DIRECTORATE","CONTRACT DEVELOPMENT","CRAIG","THOMAS-SCHUMACHER","redacted@example.com","715507","","CURRENT EMPLOYEE","8211750","BRINDABELLA PARK","26 BRINDABELLA CIRCUIT","","CANBERRA AIRPORT","ACT","2600","ACT","STEPHEN BROOKE","0262668748","ALAN HENDERSON","DEPUTY SECRETARY CORPORATE SERVICES","MR","redacted@example.com","1803","ADD","0400003674","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","4","ADD","MOBILE PHONE","NOKIA","3315 GSM ","351465301134888","","IN USE","3259","ADD","SIM CARD","TELSTRA","SIM CARD","","366257681N","IN USE","10260","ADD"
"DEPARTMENT OF DEFENCE","AIR FORCE","AIR FORCE COMBAT | AUSTRALIAN THEATRE AIR COMPONENT  HEADQUARTERS AIR COMMAND RAAF GLENBROOK DIVISION","HEADQUARTERS AIR LIFT GROUP BRANCH","NO 84 WING DIRECTORATE","34 SQN","VICKIE","CLARRIS","redacted@example.com","417450","","CURRENT EMPLOYEE","8437422","DEFENCE ESTABLISHMENT FAIRBAIRN","PIALLIGO AVENUE","","CANBERRA","ACT","2600","ACT","KEVIN MCGLYNN","0261276246","GLEN STEED","COMMANDER AIR LIFT GROUP","AIR COMMODORE","redacted@example.com","8706","ADD","0400003675","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","5","ADD","MOBILE PHONE","NOKIA","3120 GSM","356649003864901","","IN USE","1211","ADD","SIM CARD","TELSTRA","SIM CARD","","243427655P","IN USE","10261","ADD"
"DEPARTMENT OF DEFENCE","CIOG","INFORMATION SYSTEMS DIVISION","CIO BRANCH","CIO DIRECTORATE","SECURITY SERVICES","RICHARD","MISKIEWICZ","redacted@example.com","L31102","","CURRENT EMPLOYEE","8027970","DNOC","CANBERRA AVENUE","","CANBERRA","ACT","2600","ACT","JASON PARKES","0262638152","PETER ACUTT","COMMANDER DEFENCE NETWORK SUPPORT AGENCY","BRIGADIER","","7102","ADD","0400003679","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","6","ADD","MOBILE PHONE","NOKIA","3315 GSM ","351465301153516","","IN USE","3260","ADD","SIM CARD","TELSTRA","SIM CARD","","366257665N","IN USE","10262","ADD"
"DEPARTMENT OF DEFENCE","DSTO","SYSTEMS DIVISION","LAND OPERATIONS BRANCH","LAND SYSTEMS DIRECTORATE","LAND OPS","BARRY","STANTON","redacted@example.com","000000","","CURRENT EMPLOYEE","8016835","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","STEPHEN BAKER","0262657983","STEPHEN QUINN","CHIEF LAND OPERATIONS DIVISION","MR","redacted@example.com","960","ADD","0400003683","M","TELSTRA","8261491400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","7","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","AIR FORCE","AIR FORCE COMBAT | AUSTRALIAN THEATRE AIR COMPONENT  HEADQUARTERS AIR COMMAND RAAF GLENBROOK DIVISION","HEADQUARTERS AIR LIFT GROUP BRANCH","NO 84 WING DIRECTORATE","34 SQN","COLETTE","NEUMANN","redacted@example.com","417450","","CURRENT EMPLOYEE","8437352","DEFENCE ESTABLISHMENT FAIRBAIRN","PIALLIGO AVENUE","","CANBERRA","ACT","2600","ACT","HEATH ROSS","0261276223","GLEN STEED","COMMANDER AIR LIFT GROUP","AIR COMMODORE","redacted@example.com","1653","ADD","0400003685","M","TELSTRA","8261491400","","","","GSM","ACTIVE",