Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","REGIONS AND BASES BRANCH","CSI WA DIRECTORATE","R & G","MICHELE","WONNACOTT","","755600","","CURRENT EMPLOYEE","8515159","LEEUWIN BARRACKS","RIVERSIDE ROAD","","EAST FREMANTLE","WA","6158","WESTERN","MAUREEN HUTTON","08 9311232","ELIZABETH COSSON","DG REGIONS AND BASES","BRIGADIER","redacted@example.com","8666","ADD","0404824030","M","VODAFONE","202637803","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","567","ADD","MOBILE PHONE","NOKIA","3120","355037009707194","","IN USE","1332","ADD","SIM CARD","VODAFONE","SIM CARD","","109961315","IN USE","10739","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","NAVY","MARITIME COMMANDER DIVISION","FORCE ELEMENT GROUP BRANCH","COMAUSNAVSUBGRP DIRECTORATE","HMAS STIRLING","GARY","WICHT","","212113","","CURRENT EMPLOYEE","8084957","FLEET BASE WEST","POINT PERON ROAD","","GARDEN ISLAND","WA","6958","WESTERN","UNKNOWN BARNETT","0895532852","RICHARD SHALDERS","COMMANDER AUSTRALIAN NAVY SUBMARINE GROUP","COMMODORE","redacted@example.com","6320","ADD","0408611803","M","TELSTRA","2623090400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","2595","ADD","MOBILE PHONE","NOKIA","3120","355358009991210","","IN USE","1707","ADD","SIM CARD","TELSTRA","SIM CARD","","29376415","IN USE","12415","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CSIG","NATIONAL OPERATIONS DIVISION","TECHNICAL AND FACILITIES SERVICES BRANCH","CSI DIRECTORATE","SOUTHERN VICTORIA REGION","LEANNE","BOND","","351322","","CURRENT EMPLOYEE","8299554","DEFENCE PLAZA - MELBOURNE","661 BOURKE STREET","","MELBOURNE","VIC","3000","SOUTHERN","ALAN WALKER","0392827806","JOHN DIERCKS","AS TECHNICAL AND FACILITIES","MR","redacted@example.com","4113","ADD","0409898872","M","TELSTRA","2275783300","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","4071","ADD","MOBILE PHONE","NOKIA","3120","356210007267391","","IN USE","1963","ADD","SIM CARD","TELSTRA","SIM CARD","","243415122P","IN USE","13666","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CIOG","INFORMATION CAPABILITY MANAGEMENT DIVISION","DEFENCE NETWORK SUPPORT AGENCY","NETWORK OPERATIONS DIRECTORATE","NETWORK OPS","MICHAEL","ROBERTSON","","118140","","CURRENT EMPLOYEE","8088763","HMAS HARMAN","CANBERRA AVENUE","","CANBERRA","ACT","2600","ACT","JOEL TURNER","0261278304","MICHAEL CLIFFORD","HEAD INFORMATION CAPABILITY MANAGEMENT DIVISION","MAJOR GENERAL","redacted@example.com","681","ADD","0411853137","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","4935","ADD","MOBILE PHONE","NOKIA","3120","356649008638086","","IN USE","2120","ADD","SIM CARD","TELSTRA","SIM CARD","","0101007030312","IN USE","14277","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","PETER","MELODY","","000000","","CURRENT EMPLOYEE","","DARWIN","COONAWARRA ROAD","","DARWIN","NT","800","NORTHERN"," ","","","","","","9623","ADD","0418113170","M","TELSTRA","2627560400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","12041","ADD","SIM CARD","TELSTRA","SIM CARD","","217477066","IN USE","19301","ADD","MOBILE PHONE","NOKIA","3120","35708803358987","","IN USE","19303","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","NAVY","MARITIME COMMANDER DIVISION","N BRANCH","N DIRECTORATE","HS BLUE CREW","DAVID","SOWTER","redacted@example.com","215134","","CURRENT EMPLOYEE","8087358","HMAS CAIRNS","DRAPER STREET","","CAIRNS","QLD","4870","QLD","CARLTON LONGHURST(XO","0408113641","DAVYD THOMAS","MARITIME COMMANDER AUSTRALIA","REAR ADMIRAL","redacted@example.com","2344","ADD","0418201837","M","TELSTRA","2267743400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","6775","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","169117223P","DISPOSED OF","15806","ADD","MOBILE PHONE","NOKIA","2112","21DA97F4","","IN USE","19305","ADD"
"DEPARTMENT OF DEFENCE","ARMY","ARMY HEADQUARTERS DIVISION","A BRANCH","A DIRECTORATE","4 MP COY","DONALD","MACDONALD","","351427","","CURRENT EMPLOYEE","8264900","GALLIPOLI BARRACKS ENOGGERA","LLOYD STREET","","ENOGGERA","QLD","4051","QLD","EVAN KAISER","0733327407","MARK KELLY","LAND COMMANDER AUSTRALIA","MAJOR GENERAL","redacted@example.com","4271","ADD","0428115840","M","TELSTRA","2267743400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","9091","ADD","MOBILE PHONE","NOKIA","2112","210BC16D","","IN USE","268","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","VCDF","JOINT OPERATIONS DIVISION","JOINT LOGISTICS COMMAND BRANCH","JOINT LOGISTICS UNITS DIRECTORATE","JLU N","JOHN","OBOLEVICS","redacted@example.com","351790","","CURRENT EMPLOYEE","8027418","RAAF DARWIN","STUART HIGHWAY","","WINNELLIE","NT","820","NORTHERN","TREVOR BABORE","08 8923539","GARRY BANISTER","CHIEF OF STAFF JOINT LOGISTICS COMMAND","BRIGADIER","redacted@example.com","4779","ADD","0428494806","M","TELSTRA","2627560400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","9367","ADD","MOBILE PHONE","NOKIA","2280","2B0995F1","","IN USE","973","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","NATHAN","RUFUS","","000000","","CURRENT EMPLOYEE","","HQJOC","20A WYLDE STREET","","POTTS POINT","NSW","2011","EASTERN"," ","","","","","","9744","ADD","0437134268","M","TELSTRA","1707669300","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","12061","ADD","SIM CARD","TELSTRA","SIM CARD","","217476936","IN USE","19323","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","NAVY","MARITIME COMMANDER DIVISION","FORCE ELEMENT GROUP BRANCH","COMAUSNAVMCDGRP DIRECTORATE","MCD OSU","DANIEL","KENNY","redacted@example.com","211415","","CURRENT EMPLOYEE","8099111","HMAS WATERHEN","BALLS HEAD ROAD","","WAVERTON","NSW","2060","EASTERN","MARK WILLIAMS","9926 2566","DAVYD THOMAS","MARITIME COMMANDER AUSTRALIA","REAR ADMIRAL","redacted@example.com","1912","ADD","0438429143","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","10572","ADD","MOBILE PHONE","NOKIA","3120","355037009703326","","IN USE","3005","ADD","SIM CARD","TELSTRA","SIM CARD","","208867499N","IN USE","17929","ADD","","","","","","","",""

