Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","","","","","","MARK","COSSINS","","000000","","CURRENT EMPLOYEE","","LIVERPOOL","CNR GEORGE STREET & SCOTT STREET","","LIVERPOOL","NSW","2170","EASTERN"," ","","","","","","9682","ADD","0421581128","M","OPTUS","23056203","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","12001","ADD","MOBILE PHONE","NOKIA","3120","357088004569871","","IN USE","19261","ADD","SIM CARD","OPTUS","SIM CARD","","0206415147499","IN USE","19262","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","AIR FORCE","AIR FORCE COMBAT | AUSTRALIAN THEATRE AIR COMPONENT  HEADQUARTERS AIR COMMAND RAAF GLENBROOK DIVISION","HEADQUARTERS SURVEILLANCE AND RESPONSE GROUP BRANCH","NO 44 WING DIRECTORATE","44 WG DET TDL","GAVIN","MACAULAY","redacted@example.com","412806","","CURRENT EMPLOYEE","8163588","RAAF TINDAL","STUART HIGHWAY","","KATHERINE","NT","853","NORTHERN","JASON STOREY","0889737461","TIMOTHY OWEN","COMMANDER SURVEILLANCE AND RESPONSE GROUP","AIR COMMODORE","redacted@example.com","2952","ADD","0428293629","M","OPTUS","17908906","","","","CDMA","ACTIVE","Y","Y","N","N","N","N","SOLE USER","9268","ADD","MOBILE PHONE","NOKIA","2112","216FA2CB","","DISPOSED OF","310","ADD","MOBILE PHONE","NOKIA","2112","21DE28C2","","IN USE","19281","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","DSTO","AEROSPACE DIVISION","MARITIME PLATFORMS BRANCH","UNDERSEA PLATFORM SYSTEMS DIRECTORATE","UNMANNED MARITIME VEHICLES","ROGER","NEILL","redacted@example.com","835000","","CURRENT EMPLOYEE","8012786","DSTO - MARIBYRNONG","CORDITE AVENUE","","MARIBYRNONG","VIC","3032","SOUTHERN"," ","","","","","","9702","ADD","0434562299","M","OPTUS","07967250","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","12021","ADD","SIM CARD","OPTUS","SIM CARD","","0206415148059","IN USE","19284","ADD","MOBILE PHONE","NOKIA","3120","357088004180471","","IN USE","19285","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","DPE","PERSONNEL DIVISION","DEFENCE COMMUNITY ORGANISATION BRANCH","PE DIRECTORATE","DCO BRISBANE","WENDY","VAN DER MEER","redacted@example.com","131501","","CURRENT EMPLOYEE","8018179","MITCHELTON","71 OSBORNE AVENUE","","MITCHELTON","QLD","4053","QLD","CHRIS SMITH","0733540561","JANET STODULKA","DG DEFENCE COMMUNITY ORGANISATION","MS","redacted@example.com","8858","ADD","0439709160","M","TELSTRA","2267743400","","","","GSM","ACTIVE","N","N","N","N","N","N","POOL PHONE","11678","ADD","MOBILE PHONE","NOKIA","3120","355037009703102","","IN USE","3215","ADD","SIM CARD","TELSTRA","SIM CARD","","288072978P","IN USE","18861","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","DPE","PERSONNEL DIVISION","DEFENCE COMMUNITY ORGANISATION BRANCH","PE DIRECTORATE","DCO BRISBANE","WENDY","VAN DER MEER","redacted@example.com","131501","","CURRENT EMPLOYEE","8018179","MITCHELTON","71 OSBORNE AVENUE","","MITCHELTON","QLD","4053","QLD","CHRIS SMITH","0733540561","JANET STODULKA","DG DEFENCE COMMUNITY ORGANISATION","MS","redacted@example.com","8858","ADD","0439743015","M","TELSTRA","2267743400","","","","GSM","ACTIVE","N","N","N","N","N","N","POOL PHONE","11724","ADD","MOBILE PHONE","NOKIA","3120","355037009703318","","IN USE","3224","ADD","SIM CARD","TELSTRA","SIM CARD","","288072846P","IN USE","18895","ADD","","","","","","","",""

