Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","","","","","","DANIEL","TELLAM","redacted@example.com","000000","","CURRENT EMPLOYEE","8200577","DARWIN","COONAWARRA ROAD","","DARWIN","NT","800","NORTHERN"," ","","","","","","9441","ADD","0417801694","M","TELSTRA","2627560400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","POOL PHONE","11923","ADD","MOBILE PHONE","NOKIA","3120","357088004181875","","IN USE","19152","ADD","SIM CARD","TELSTRA","SIM CARD","","217477454P","IN USE","19155","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","2ND DIVISION DIVISION","9 BDE BRANCH","12|40 RTR DIRECTORATE","12|40 RTR","STEPHAN","COLMAN","redacted@example.com","317350","","CURRENT EMPLOYEE","8222676","DERWENT BARRACKS DOWSING POINT MILITARY AREA","LLOYDS LANE","","GLENORCHY","TAS","7010","SOUTHERN","KEVIN KENNEDY","036237 755","TIMOTHY HANNA","COMMANDER 9 BRIGADE/ARMY AREA REPRESENTATIVE - SA","BRIGADIER","redacted@example.com","7991","ADD","0429783457","M","TELSTRA","1707669300","","","","CDMA","ACTIVE","Y","Y","N","N","N","N","SOLE USER","9928","ADD","MOBILE PHONE","NOKIA","2112","21DE287D","","IN USE","19142","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","DANIEL","TELLAM","redacted@example.com","000000","","CURRENT EMPLOYEE","8200577","DARWIN","COONAWARRA ROAD","","DARWIN","NT","800","NORTHERN"," ","","","","","","9441","ADD","0439878056","M","TELSTRA","2627560400","","","","GSM","SUSPENDED","Y","Y","N","N","N","N","POOL PHONE","11922","ADD","MOBILE PHONE","NOKIA","3120","357088004184408","","IN USE","19149","ADD","SIM CARD","TELSTRA","SIM CARD","","217477132P","IN USE","19151","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","DANIEL","TELLAM","redacted@example.com","000000","","CURRENT EMPLOYEE","8200577","DARWIN","COONAWARRA ROAD","","DARWIN","NT","800","NORTHERN"," ","","","","","","9441","ADD","0448653323","M","TELSTRA","2627560400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","POOL PHONE","11921","ADD","SIM CARD","TELSTRA","SIM CARD","","217478320P","IN USE","19144","ADD","MOBILE PHONE","NOKIA","3120","357088003363375","","IN USE","19145","ADD","","","","","","","",""

