Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","NSW","RAVEENA","CARROLL","redacted@example.com","172410","","CURRENT EMPLOYEE","8119737","GARDEN ISLAND FBE","COWPER WHARF ROAD","","POTTS POINT","NSW","2011","WESTERN","SIMONE THOMPSON","0293592786","","","","","6955","ADD","0405310176","M","VODAFONE","202634220","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","658","ADD","MOBILE PHONE","NOKIA","3120","356649003882283","","IN USE","1347","ADD","SIM CARD","VODAFONE","SIM CARD","","89610300000420259704","IN USE","10784","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","PUBLIC AFFAIRS OPS CENTRE","RICHARD","BURGESS","redacted@example.com","175412","","CURRENT EMPLOYEE","8492467","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","ROD DDGPA","0262652959","","","","","7054","ADD","0408498664","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","POOL PHONE","2438","ADD","MOBILE PHONE","NOKIA","3120","3553800999315/8","","IN USE","1673","ADD","SIM CARD","TELSTRA","SIM CARD","","232193136P","IN USE","12289","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","CPA SQ","PAUL","LINEHAM","redacted@example.com","172240","","CURRENT EMPLOYEE","8010302","VICTORIA BARRACKS BRISBANE","PETRIE TERRACE","","BRISBANE","QLD","4000","QLD","DEBBIE WHEELER","07 3233435","","","","","6380","ADD","0408972329","M","TELSTRA","2267743400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","3097","ADD","MOBILE PHONE","NOKIA","3120","356649003867771","","IN USE","1788","ADD","SIM CARD","TELSTRA","SIM CARD","","243422953P","IN USE","12835","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","SECRETARY","SECRETARY DIVISION","SECRETARY BRANCH","SECRETARY DIRECTORATE","PUBLIC AFFAIRS","ANNA","TANNOCK","redacted@example.com","322310","","CURRENT EMPLOYEE","8443807","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","PUP ELLIOTT","6265 5353","","","","","757","ADD","0409392087","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","3537","ADD","MOBILE PHONE","NOKIA","3120","355358004635101","","IN USE","1864","ADD","SIM CARD","TELSTRA","SIM CARD","","291163335N","IN USE","13220","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","1 JPAU","JOHN","COOMBE","redacted@example.com","175100","","CURRENT EMPLOYEE","8215375","BANDIANA SOUTH","MURRAY VALLEY HIGHWAY","","BANDIANA","VIC","3694","SOUTHERN","W. MCADIE","0260554245","","","","","4135","ADD","0409489714","M","","","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","3630","ADD","","","","","","","","","SIM CARD","","SIM CARD","","307555276N","IN USE","13307","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","NT|K","KELLY","COOPER","redacted@example.com","172450","","CURRENT EMPLOYEE","8493188","LARRAKEYAH BARRACKS","PACKARD STREET","","DARWIN","NT","820","NORTHERN","MEDIA CANBERRA","0262653343","","","","","4586","ADD","0411885994","M","TELSTRA","2627560400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","4938","ADD","MOBILE PHONE","NOKIA","3120","356649008632352","","IN USE","2121","ADD","SIM CARD","TELSTRA","SIM CARD","","243247012P","IN USE","14280","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","PAOC","MICHAEL","WEAVER","redacted@example.com","175412","","CURRENT EMPLOYEE","8027931","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","GLEN SMITH","0262667620","","","","","5886","ADD","0414236352","M","VODAFONE","202634220","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","5369","ADD","MOBILE PHONE","NOKIA","3120","356649003869942","","IN USE","2198","ADD","SIM CARD","VODAFONE","SIM CARD","","GSM 1802","IN USE","14651","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","PUBLIC AFFAIRS SUPP","GRANT","THOMPSON","redacted@example.com","172005","","CURRENT EMPLOYEE","8017620","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","BOB LESTER","0419259606","","","","","3295","ADD","0414348189","M","VODAFONE","202634220","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","5388","ADD","MOBILE PHONE","NOKIA","3120","356210007254068","","IN USE","2202","ADD","SIM CARD","VODAFONE","SIM CARD","","89610300000109963659","IN USE","14665","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","PUBLIC AFFAIRS","TIMOTHY","HERNE","redacted@example.com","172510","","CURRENT EMPLOYEE","8119768","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","JENNY ROBERTSON","0262653260","","","","","8472","ADD","0416123426","M","VODAFONE","202634220","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","5599","ADD","MOBILE PHONE","NOKIA","3120","355037009705719","","IN USE","2246","ADD","SIM CARD","VODAFONE","SIM CARD","","89610300000227824544","IN USE","14849","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","1 JPAU","GRAEME","HENLEY","redacted@example.com","172500","","CURRENT EMPLOYEE","8260596","FYSHWICK - DAIRY ROAD","DAIRY FLAT ROAD","","FYSHWICK","ACT","2604","ACT"," N/A","0417 049 0","","","","","3203","ADD","0417049055","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","5927","ADD","MOBILE PHONE","NOKIA","3120","355358009995179","","IN USE","2310","ADD","SIM CARD","TELSTRA","SIM CARD","","307557397N","IN USE","15132","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","PUBLIC AFFAIRS OPS CENTRE","ANNABELLE","HAYWOOD","redacted@example.com","175412","","CURRENT EMPLOYEE","8031685","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","SUE TAYLOR","0262653313","","","","","759","ADD","0417639230","M","TELSTRA","2628601400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","6404","ADD","MOBILE PHONE","NOKIA","3120","356210007250215","","IN USE","2377","ADD","SIM CARD","TELSTRA","SIM CARD","","1422","IN USE","15518","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","1 JPAU","MARGARET","NICHOLS","redacted@example.com","175100","","CURRENT EMPLOYEE","8228278","FYSHWICK - DAIRY ROAD","DAIRY FLAT ROAD","","FYSHWICK","ACT","2604","ACT","Unknown COSTA","0261276530","","","","","5164","ADD","0417705938","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","6512","ADD","MOBILE PHONE","NOKIA","3120","355037/00/97096","","IN USE","2396","ADD","SIM CARD","TELSTRA","SIM CARD","","294118815N","IN USE","15604","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CDF DIVISION","CDF BRANCH","CDF DIRECTORATE","CPA WA","GARY","BOOTH","redacted@example.com","172460","","CURRENT EMPLOYEE","8001654","FLEET BASE WEST","POINT PERON ROAD","","GARDEN ISLAND","WA","6958","WESTERN","VIC JEFFERY","0895532415","","","","","2867","ADD","0418223807","M","TELSTRA","2623090400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","6824","ADD","MOBILE PHONE","NOKIA","2280","2664028D","","IN USE","658","ADD","SIM CARD","TELSTRA","SIM CARD","","112709274","IN USE","15847","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","SECRETARY","SECRETARY DIVISION","SECRETARY BRANCH","SECRETARY DIRECTORATE","PUBLIC AFFAIRS","ANNA","TANNOCK","redacted@example.com","322310","","CURRENT EMPLOYEE","8443807","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","PUP ELLIOTT","6265 5353","","","","","757","ADD","0418440280","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","7020","ADD","MOBILE PHONE","NOKIA","3120","357060004405273","","IN USE","2483","ADD","SIM CARD","TELSTRA","SIM CARD","","312317621P","IN USE","16010","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","1 JPAU","PHILLIP","COLLINS","redacted@example.com","175100","","CURRENT EMPLOYEE","8230383","FYSHWICK - DAIRY ROAD","DAIRY FLAT ROAD","","FYSHWICK","ACT","2604","ACT","BOB O''DONAHOO","0261276532","","","","","6870","ADD","0418638132","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","7196","ADD","MOBILE PHONE","NOKIA","3120","356210007266385","","IN USE","2511","ADD","SIM CARD","TELSTRA","SIM CARD","","294676978N","IN USE","16156","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","DEFENCE NEWSPAPERS","ANDREW","HETHERINGTON","redacted@example.com","175220","","CURRENT EMPLOYEE","8214577","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","DAMIAN SHOVELL","0262667608","","","","","593","ADD","0419174732","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","7726","ADD","MOBILE PHONE","NOKIA","3120","356210007261238","","IN USE","2605","ADD","SIM CARD","TELSTRA","SIM CARD","","241200351P","IN USE","16593","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","MPA","ALAN","GREEN","redacted@example.com","A92430","","CURRENT EMPLOYEE","8252964","LAVARACK BARRACKS","UNIVERSITY ROAD","","TOWNSVILLE","QLD","4813","QLD","MARK TANZER","0747711602","","","","","365","ADD","0419262267","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","7865","ADD","MOBILE PHONE","NOKIA","3120","356649003883836","","IN USE","2635","ADD","SIM CARD","TELSTRA","SIM CARD","","294679754N","IN USE","16712","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","MINISTERIAL & EXECUTIVE SUPPORT BRANCH","CDF DIRECTORATE","COORDINATION & PUBLIC AFFAIRS","HAYDN","BARLOW","redacted@example.com","172510","","CURRENT EMPLOYEE","8255272","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","JEFF SQUIRE","0262650535","","","","","3436","ADD","0419276810","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","7892","ADD","MOBILE PHONE","NOKIA","3120","356649008637633","","IN USE","2643","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CSIG","INFRASTRUCTURE DIVISION","HQJOC BRANCH","INFRASTRUCTURE DIRECTORATE","FIRST JOINT PUBLIC AFFAIRS","TREVOR","GRANT","redacted@example.com","175200","","CURRENT EMPLOYEE","8195319","FYSHWICK - DAIRY ROAD","DAIRY FLAT ROAD","","FYSHWICK","ACT","2604","ACT","ORDERLY ROOM","0261276545","","","","","8625","ADD","0419355724","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","7981","ADD","MOBILE PHONE","NOKIA","3120","355358009992499","","IN USE","2664","ADD","SIM CARD","TELSTRA","SIM CARD","","293762811N","IN USE","16811","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","SUPP","GLEN","SMITH","redacted@example.com","172510","","CURRENT EMPLOYEE","8016476","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","BRIAN LANGSHAW","0262667629","","","","","3123","ADD","0419749300","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","8346","ADD","MOBILE PHONE","NOKIA","3120","355037009706261","","IN USE","2724","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","1 JOINT PUBLIC AFFAIRS","CAMERON","JAMIESON","redacted@example.com","A92430","","CURRENT EMPLOYEE","8267338","FYSHWICK - DAIRY ROAD","DAIRY FLAT ROAD","","FYSHWICK","ACT","2604","ACT","KYLIE NICHOLAS","0261276545","","","","","1325","ADD","0427439222","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","8886","ADD","MOBILE PHONE","NOKIA","3120","356649/00/86383","","IN USE","2815","ADD","SIM CARD","TELSTRA","SIM CARD","","28823220OP","IN USE","17386","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","KARL","JOHNSON","","000000","","CURRENT EMPLOYEE","","LAVARACK BARRACKS","UNIVERSITY ROAD","","TOWNSVILLE","QLD","4813","QLD"," ","","","","","","9583","ADD","0427972691","M","TELSTRA","2267743400","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","11941","ADD","MOBILE PHONE","NOKIA","2112","21DE289C","","IN USE","19181","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CDF DIVISION","CDF BRANCH","CDF DIRECTORATE","CPA WA","VICTOR","JEFFERY","redacted@example.com","172460","","CURRENT EMPLOYEE","8008708","FLEET BASE WEST","POINT PERON ROAD","","GARDEN ISLAND","WA","6958","WESTERN","GARY BOOTH","0895532535","","","","","8709","ADD","0429653175","M","OPTUS","03721750","","","","CDMA","ACTIVE","N","N","N","N","N","N","SOLE USER","9878","ADD","MOBILE PHONE","NOKIA","2280","26988F18","","IN USE","1138","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","DIRECTORATE OF DEFENCE NEWSPAPERS","DAVID","EDLINGTON","redacted@example.com","175220","","CURRENT EMPLOYEE","8211829","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","SIMONE HEYER","0262667612","","","","","2142","ADD","0437593384","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","10128","ADD","MOBILE PHONE","NOKIA","3120","355358004619204","","IN USE","2895","ADD","SIM CARD","TELSTRA","SIM CARD","","291208122N","IN USE","17550","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","PAOC","VINAY","KESHOW","redacted@example.com","175 41","","CURRENT EMPLOYEE","8438774","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","RICHARD BURGESS","0262651019","","","","","8716","ADD","0438276951","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","10502","ADD","MOBILE PHONE","NOKIA","3120","355358009161087","","IN USE","2993","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","DPA SOUTH QLD","DEBORAH","WHEELER","redacted@example.com","172240","","CURRENT EMPLOYEE","8018950","VICTORIA BARRACKS BRISBANE","PETRIE TERRACE","","BRISBANE","QLD","4000","QLD","PAUL LYNEHAM","0732334210","","","","","2462","ADD","0438766472","M","TELSTRA","2267743400","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","11073","ADD","MOBILE PHONE","NOKIA","3120","356649008635504","","IN USE","3112","ADD","SIM CARD","TELSTRA","SIM CARD","","302378740P","IN USE","18359","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","CDF","CHIEF OF STAFF AUSTRALIAN DEFENCE HQ","PUBLIC AFFAIRS BRANCH","CDF DIRECTORATE","DIRECTORATE DEFENCE NEWSPAPERS","RACHEL","IRVING","redacted@example.com","172050","","CURRENT EMPLOYEE","8100190","RUSSELL OFFICES","RUSSELL DRIVE","","CANBERRA","ACT","2600","ACT","DAVID KIRKPATRICK","0262667707","","","","","6919","ADD","0439454205","M","TELSTRA","8261491400","","","","GSM","ACTIVE","N","N","N","N","N","N","SOLE USER","11403","ADD","MOBILE PHONE","NOKIA","3120","356649008634531","","IN USE","3168","ADD","SIM CARD","TELSTRA","SIM CARD","","30931425ON","IN USE","18629","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","DPE","PERSONNEL DIVISION","DEFENCE COMMUNITY ORGANISATION BRANCH","PE DIRECTORATE","DCO BRISBANE","WENDY","VAN DER VEER","redacted@example.com","131501","","CURRENT EMPLOYEE","8018179","MITCHELTON","71 OSBORNE AVENUE","","MITCHELTON","QLD","4053","QLD","CHRIS SMITH","0733540561","JANET STODULKA","DG DEFENCE COMMUNITY ORGANISATION","MS","redacted@example.com","8858","ADD","0439709160","M","TELSTRA","2267743400","","","","GSM","ACTIVE","N","N","N","N","N","N","POOL PHONE","11678","ADD","MOBILE PHONE","NOKIA","3120","355037009703102","","IN USE","3215","ADD","SIM CARD","TELSTRA","SIM CARD","","288072978P","IN USE","18861","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","DPE","PERSONNEL DIVISION","DEFENCE COMMUNITY ORGANISATION BRANCH","PE DIRECTORATE","DCO BRISBANE","WENDY","VAN DER VEER","redacted@example.com","131501","","CURRENT EMPLOYEE","8018179","MITCHELTON","71 OSBORNE AVENUE","","MITCHELTON","QLD","4053","QLD","CHRIS SMITH","0733540561","JANET STODULKA","DG DEFENCE COMMUNITY ORGANISATION","MS","redacted@example.com","8858","ADD","0439743015","M","TELSTRA","2267743400","","","","GSM","ACTIVE","N","N","N","N","N","N","POOL PHONE","11724","ADD","MOBILE PHONE","NOKIA","3120","355037009703318","","IN USE","3224","ADD","SIM CARD","TELSTRA","SIM CARD","","288072846P","IN USE","18895","ADD","","","","","","","",""

