Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset
"DEPARTMENT OF DEFENCE","ARMY","ARMY HEADQUARTERS DIVISION","PERSONNEL BRANCH","A DIRECTORATE","APA S","WAYNE","PIGGOTT","redacted@example.com","323500","","CURRENT EMPLOYEE","8214773","VICTORIA BARRACKS PADDINGTON","OXFORD STREET","","PADDINGTON","NSW","2021","EASTERN","TAMARA GEIER","0293393251","JOHN CANTWELL","DG PERSONNEL - ARMY","BRIGADIER","redacted@example.com","8825","ADD","0408604575","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","Y","Y","N","N","SOLE USER","2507","ADD","MOBILE PHONE","NOKIA","3120","356649009277280","","IN USE","1683","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","ANDRE","REINDERS","redacted@example.com","000000","","CURRENT EMPLOYEE","8202838","DEFENCE ESTABLISHMENT FAIRBAIRN","PIALLIGO AVENUE","","CANBERRA","ACT","2600","ACT","SHANE JONES","0412703308","","","","","9422","ADD","0421587573","M","OPTUS","00402586","","","","GSM","ACTIVE","Y","Y","Y","Y","N","N","SOLE USER","11882","ADD","MOBILE PHONE","NOKIA","3120","357088004560417","","IN USE","19106","ADD","SIM CARD","OPTUS","SIM CARD","","0205539060281","IN USE","19109","ADD","","","","","","","",""
"DEPARTMENT OF DEFENCE","","","","","","ADAM","DAVIDSON","redacted@example.com","000000","","CURRENT EMPLOYEE","8491919","RAAF DARWIN","STUART HIGHWAY","","WINNELLIE","NT","820","NORTHERN","JOHN FARINA","0400318243","","","","","9367","ADD","0427398534","M","TELSTRA","2627560400","","","","GSM","ACTIVE","Y","Y","N","N","N","N","SOLE USER","11901","ADD","MOBILE PHONE","NOKIA","2112","21DE2939","","IN USE","19123","ADD","","","","","","","","","","","","","","","",""
"DEPARTMENT OF DEFENCE","ARMY","SPECIAL OPERATIONS COMMANDER DIVISION","SPECIAL OPERATIONS HEADQUARTERS BRANCH","4 RAR DIRECTORATE","4 RAR","SEAN","THOMPSON","na","312190","","CURRENT EMPLOYEE","8265579","HOLSWORTHY BARRACKS","KOTHA BAHRU ROAD","","HOLSWORTHY","NSW","2174","EASTERN","TIM WEDESWEILER","0438695868","MICHAEL HINDMARSH","SPECIAL OPERATIONS COMMANDER AUSTRALIA","MAJOR GENERAL","redacted@example.com","7765","ADD","0438695305","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","10867","ADD","MOBILE PHONE","NOKIA","3120","356649008638219","","IN USE","3071","ADD","SIM CARD","TELSTRA","SIM CARD","","303444236N","DISPOSED OF","18175","ADD","SIM CARD","TELSTRA","SIM CARD","","217471465P","IN USE","19064","ADD"
"DEPARTMENT OF DEFENCE","ARMY","SPECIAL OPERATIONS COMMANDER DIVISION","SPECIAL OPERATIONS HEADQUARTERS BRANCH","4 RAR DIRECTORATE","4 RAR CDO","PAUL","JOHNSON","redacted@example.com","312190","","CURRENT EMPLOYEE","8228006","HOLSWORTHY BARRACKS","KOTHA BAHRU ROAD","","HOLSWORTHY","NSW","2174","EASTERN","JUSTIN ROBERTS","0287822626","MICHAEL HINDMARSH","SPECIAL OPERATIONS COMMANDER AUSTRALIA","MAJOR GENERAL","redacted@example.com","6363","ADD","0438698097","M","TELSTRA","1707669300","","","","GSM","ACTIVE","N","N","N","N","N","N","SIM ONLY","10922","ADD","","","","","","","","","SIM CARD","TELSTRA","SIM CARD","","303441372N","IN USE","18226","ADD","MOBILE PHONE","NOKIA","3120","357088004571349","","IN USE","19063","ADD"

