Org Details,,,,,,User Details,,,,,,,,,,,,,,,,,,,,,,Service Details,,,,,,,,,,,,,,,,,,Asset 1 Details,,,,,,,,Asset 2 Details,,,,,,,,Asset 3 Details,,,,,,,,
Client,Org Lvl 1,Org Lvl 2,Org Lvl 3,Org Lvl 4,Org Lvl 5,First Name,Last Name,Email,Cost Code,Employee Budget,User Status,Employee ID,Location - Site,Street Address 1,Street Address 2,City,State,PostCode,Region,Alternative Contact Full Name,Alternative Contact Number,Delegate name,Delegate Position,Delegate Rank,Delegate Email,User unique ID,Action User,Service Number,Service Type,Carrier,Account Number,Rate Plan,Contract,Contract End Date,Network Type,Service Status,SMS,Voicemail,IDD,Global Roaming,GPRS,WAP/Internet,Usage Type,Service - unique id,Action Service,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,Asset Type,Asset Manufacturer,Asset Name,IMEI / ESN,Serial Number,Asset Status,Asset - unique id,Action Asset,
DEPARTMENT OF DEFENCE,CSIG,INFRASTRUCTURE DIVISION,HQJOC BRANCH,SYSTEMS AND APPLICATIONS DIRECTORATE,HQJOC Project,PAUL,APPLETON,redacted@example.com,A40100,,Current Employee,8245727,BRINDABELLA PARK 3,26 BRINDABELLA CIRCUIT,,CANBERRA AIRPORT,ACT,2600,ACT,LAURA POTTINGER,0262668499,BRIAN PLENTY,DG HEADQUARTERS JOINT OPERATIONS,AIR COMMODORE,redacted@example.com,12171,ADD,0400396449,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,22,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,351350307974604,,IN USE,22,ADD,SIM CARD,,,,390049898N,IN USE,22,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,CDG,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,Office of Interoperability,CHRISTOPHER,STEPHENS,redacted@example.com,200102,,Current Employee,8052631,RUSSELL OFFICES R8-2-047,RUSSELL DRIVE,,CANBERRA,ACT,2600,ACT,MARK WEBB,0262651379,MATTHEW TRIPOVICH,HEAD CAPABILITY SYSTEMS,REAR ADMIRAL,redacted@example.com,10630,ADD,0400418226,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,23,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,351347301013538,,IN USE,23,ADD,SIM CARD,,,,390048734N,IN USE,23,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,DPE,PERSONNEL DIVISION,PERSONNEL POLICY & EMPLOYMENT CONDITIONS BRANCH,MILITARY SALARIES & ALLOWANCES POLICY DIRECTORATE,RRP,WARWICK,ELLIOTT,redacted@example.com,132130,,Current Employee,8263747,CAMPBELL PARK,NORTHCOTT DRIVE,,CAMPBELL,ACT,2600,ACT,KIRK LLOYD,0262662695,SUSAN PARR,DG PERSONNEL POLICY & EMPLOYMENT,MS,redacted@example.com,13000,ADD,0400461865,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,25,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350841201497073,,IN USE,25,ADD,SIM CARD,,,,390049765N,IN USE,25,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,DSTO,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,Land Operations Division,NEVILLE,CURTIS,redacted@example.com,841000,,Current Employee,8004073,DSTO - EDINBURGH,WEST AVENUE,,EDINBURGH,SA,5111,SA,STEPHEN QUINN,0882595184,STEPHEN QUINN,CHIEF LAND OPERATIONS DIVISION,MR,redacted@example.com,12096,ADD,0400467423,M,Telstra,2628601400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,26,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,352958006127230,,IN USE,26,ADD,,,,,,,,,,,,,,,,,
DEPARTMENT OF DEFENCE,DSTO,SYSTEMS DIVISION,ELECTRONIC WARFARE & RADAR BRANCH,ELECTRONIC WARFARE SYSTEMS DIRECTORATE,Exec,ALASDAIR,MCINNES,redacted@example.com,822000,,Current Employee,8011584,DSTO - EDINBURGH,WEST AVENUE,,EDINBURGH,SA,5111,SA,BEV ROWEN,0882595181,LEN SCIACCA,CHIEF ELECTRONIC WARFARE & RADAR,DR,redacted@example.com,10239,ADD,0400476659,M,Telstra,2628601400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,27,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350991308134291,,IN USE,27,ADD,,,,,,,,,,,,,,,,,
DEPARTMENT OF DEFENCE,DMO,ELECTRONIC & WEAPONS SYSTEMS DIVISION,GUIDED WEAPONS AND EXPLOSIVE ORDNANCE BRANCH,AIR LAUNCHED GUIDED WEAPONS SYSTEMS DIRECTORATE,AGWSPO,KEVIN,STOCKTON,redacted@example.com,613881,,Current Employee,8017032,RUSSELL OFFICES,RUSSELL DRIVE,,CANBERRA,ACT,2600,ACT, N/A,02 6265779,SHIREANE MCKINNIE,HEAD ELECTRONIC & WEAPONS SYSTEM,MS,redacted@example.com,11662,ADD,0400477282,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,28,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,351486302243106,,IN USE,28,ADD,SIM CARD,,,,390049815N,IN USE,28,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,ARMY,TRAINING COMMANDER DIVISION,CHIEF OF STAFF BRANCH,NOT APPLICABLE,HQTC-A,WARWICK,AUSTIN,redacted@example.com,341110,,Current Employee,8258277,VICTORIA BARRACKS PADDINGTON,OXFORD STREET,,PADDINGTON,NSW,2021,NSW,PAUL ROGERS,0293392454,JOHN CALIGARI,CHIEF OF STAFF HQ TRAINING COMMA,BRIGADIER,redacted@example.com,12999,ADD,0400479177,M,Telstra,1707669300,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,29,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,353030003445210,,IN USE,29,ADD,SIM CARD,,,,390049039N,IN USE,29,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,AIR FORCE,AIR FORCE COMBAT | AUSTRALIAN THEATRE AIR COMPONENT - HEADQUARTERS AIR COMMAND (RAAF GLENBROOK) DIVISION,HEADQUARTERS COMBAT SUPPORT GROUP BRANCH,NO 395 EXPEDITIONARY COMBAT SUPPORT WING DIRECTORATE,386ECSS,TONY,SHERRING,redacted@example.com,412356,,Current Employee,8159282,RAAF RICHMOND,PERCIVAL STREET,,RICHMOND,NSW,2755,NSW,FIRE WATCHROOM,0245872655,MARK ROBERT,COMMANDER COMBAT SUPPORT GROUP,AIR COMMODORE,redacted@example.com,12926,ADD,0400480156,M,Telstra,1707669300,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,30,ADD,SIM CARD,,,,360654800N,IN USE,30,ADD,,,,,,,,,,,,,,,,,
DEPARTMENT OF DEFENCE,CSIG,INFRASTRUCTURE DIVISION,NOT APPLICABLE,NOT APPLICABLE,382ECSS,IAN,O'BRIEN,redacted@example.com,118321,,Current Employee,8160960,RAAF AMBERLEY,SOUTH AMBERLEY ROAD,,AMBERLEY,QLD,4306,QLD,TRACEY HORSBURGH,0754601138,ELIZABETH COSSON,DG REGIONS AND BASES,BRIGADIER,redacted@example.com,11301,ADD,0400725462,M,Telstra,2267743400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,31,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,28807220OP,,IN USE,31,ADD,SIM CARD,,,,350103309681714,IN USE,31,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,AIR FORCE,AIR FORCE COMBAT | AUSTRALIAN THEATRE AIR COMPONENT - HEADQUARTERS AIR COMMAND (RAAF GLENBROOK) DIVISION,HEADQUARTERS AIR COMBAT GROUP BRANCH,NO 78 WING DIRECTORATE,78 Wing HQ,NICOLE,MORRISON,redacted@example.com,415050,,Current Employee,8165427,RAAF WILLIAMTOWN,MEDOWIE ROAD,,WILLIAMTOWN,NSW,2314,NSW,78WG ROOM,02 4964522,GEOFFREY BROWN,COMMANDER AIR COMBAT GROUP,AIR COMMODORE,redacted@example.com,12121,ADD,0401141699,M,Telstra,23056203,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,32,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,0599130044292,,IN USE,32,ADD,SIM CARD,,,,448954180097196,IN USE,32,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,CSIG,NATIONAL OPERATIONS DIVISION,REGIONS AND BASES BRANCH,CSI SC DIRECTORATE,MTS,PAUL,KENNY,redacted@example.com,789034,,Current Employee,8009318,DEFENCE PLAZA - SYDNEY,270 PITT STREET,,SYDNEY,NSW,2000,NSW,BOB POPE,0293772751,ELIZABETH COSSON,DG REGIONS AND BASES,BRIGADIER,redacted@example.com,12197,ADD,0401147539,M,Telstra,23056203,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,33,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,05 99146 19402 4,,IN USE,33,ADD,SIM CARD,,,,350114305737814,IN USE,33,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,NAVY,MARITIME COMMANDER DIVISION,NOT APPLICABLE,NOT APPLICABLE,COMAUSNAVAIRGRP,ALAN,BYRNE,redacted@example.com,211205,,Current Employee,8072135,MHQ,14-18 WYLDE STREET,,POTTS POINT,NSW,2010,NSW,CRAIG SPINKS,0293594350,TIMOTHY BARRETT,COMMANDER AUSTRALIAN NAVY AVIATI,COMMODORE,redacted@example.com,10226,ADD,0401149890,M,Telstra,23056203,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,34,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,0599146296894,,IN USE,34,ADD,SIM CARD,,,,350605308189465,IN USE,34,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,ARMY,TRAINING COMMANDER DIVISION,HQ REGIONAL TRAINING CENTRES BRANCH,DEFENCE FORCE SCHOOL OF MUSIC DIRECTORATE,DFSM,GRAHAM,LLOYD,redacted@example.com,342680,,Current Employee,8197003,SIMPSON BARRACKS (WATSONIA),GREENSBOROUGH ROAD,,MACLEOD,VIC,3085,VIC,PATRICK PICKETT,0394507314,JOHN CALIGARI,CHIEF OF STAFF HQ TRAINING COMMA,BRIGADIER,redacted@example.com,11166,ADD,0401711154,M,Telstra,07967250,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,36,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,0600003172515optus,,IN USE,36,ADD,SIM CARD,,,,355358009989412,IN USE,36,ADD,,,,,,,,,
DEPARTMENT OF DEFENCE,DMO,MARITIME SYSTEMS DIVISION,MINOR WAR VESSELS BRANCH,PATROL BOAT SYSTEMS PROGRAM OFFICE DIRECTORATE,PBSPO,NICHOLAS,ROSE,redacted@example.com,231495,,Current Employee,8024587,HMAS CAIRNS,DRAPER STREET,,CAIRNS,QLD,4870,QLD,Unknown WIDDISON,(08) 89242,TREVOR RUTING,HEAD MARITIME SYSTEMS,REAR ADMIRAL,redacted@example.com,12106,ADD,0401711950,M,Telstra,06289011,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,37,ADD,SIM CARD,,,,020354601868-1,IN USE,37,ADD,,,,,,,,,,,,,,,,,
DEPARTMENT OF DEFENCE,NAVY,MARITIME COMMANDER DIVISION,JOC BRANCH,N3N5 DIRECTORATE,MC JOC-W,SCOTT,LOWE,n/a,212130,,Current Employee,8097594,FLEET BASE WEST,POINT PERON ROAD,,GARDEN ISLAND,WA,6958,WA,HILLARY FINNEY,0895532368,DAVYD THOMAS,MARITIME COMMANDER AUSTRALIA,REAR ADMIRAL,redacted@example.com,12626,ADD,0401999843,M,Telstra,03721750,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,38,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,0600140274422,,IN USE,38,ADD,SIM CARD,,,,350139306636202,IN USE,38,ADD
DEPARTMENT OF DEFENCE,DMO,LAND SYSTEMS DIVISION,LAND MANOEUVRE SYSTEMS BRANCH,WHEELED MANOEUVRE SYSTEMS DIRECTORATE,ASLAV,MARTIN,CRAIG,redacted@example.com,612402,,Current Employee,8027665,VICTORIA BARRACKS MELBOURNE,256-310 ST KILDA ROAD,,SOUTHBANK,VIC,3006,VIC,CHRIS PEARSON,0409043203,GRANT CAVENAGH,DG LAND MANOEUVRE SYSTEMS,BRIGADIER,redacted@example.com,11888,ADD,0402590960,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,39,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,330312001540218,,IN USE,39,ADD,SIM CARD,,,,Not a Defence SIM card,IN USE,39,ADD
DEPARTMENT OF DEFENCE,CDG,CAPABILITY SYSTEMS DIVISION,NOT APPLICABLE,NOT APPLICABLE,DGMD,SIMON,Humphrey,redacted@example.com,123000,,Current Employee,8097957,RUSSELL OFFICES,RUSSELL DRIVE,,RUSSELL,ACT,2600,ACT,SIMON HUMPHREY,0262655018,NIGEL PERRY,DG MARITIME DEVELOPMENT,COMMODORE,redacted@example.com,12702,ADD,0404042483,M,Telstra,202634220,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,40,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350991307640538,,IN USE,40,ADD,,,,,,,,
DEPARTMENT OF DEFENCE,NAVY,SYSTEMS COMMANDER DIVISION,NAVY SYSTEMS BRANCH,DNC4ISREW DIRECTORATE,DNC4ISREW,NICHOLAS,BRAMWELL,redacted@example.com,212160,,Current Employee,8072770,CAMPBELL PARK,NORTHCOTT DRIVE,,CAMPBELL,ACT,2600,ACT,PAUL CASS,0262663440,GEOFFREY GERAGHTY,COMMANDER AUSTRALIAN NAVY SYSTEM,COMMODORE,redacted@example.com,12102,ADD,0404042530,M,Telstra,202634220,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,41,ADD,SIM CARD,,,,420331065,IN USE,41,ADD,,,,,,,,
DEPARTMENT OF DEFENCE,CSIG,LEGAL DIVISION,DEFENCE GENERAL COUNSEL BRANCH,LITIGATION DIRECTORATE,dlit,RICHARD,MILLER,redacted@example.com,155100,,Current Employee,8028695,RG CASEY BUILDING,JOHN MCKEWEN CRESCENT,,CANBERRA,ACT,2600,ACT,MICHAEL LYSEWYCZ,0262668921,MARK CUNLIFFE,HEAD DEFENCE LEGAL,MR,redacted@example.com,12446,ADD,0404089623,M,Telstra,202634220,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,43,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350010301509183,,IN USE,43,ADD,SIM CARD,,,,89610300000238901950,IN USE,43,ADD
DEPARTMENT OF DEFENCE,I&S,DEFENCE SECURITY AUTHORITY DIVISION,NOT APPLICABLE,NOT APPLICABLE,DPV,ELIZABETH,AGAR-WILSON,redacted@example.com,532635,,Current Employee,8212162,CAMPBELL PARK,NORTHCOTT DRIVE,,CAMPBELL,ACT,2600,ACT,JODIE VERRALL,0262662537,TIM PAUL,HEAD DEFENCE SECURITY AUTHORITY,MR,redacted@example.com,10974,ADD,0404204623,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,44,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350607303881369,,IN USE,44,ADD,SIM CARD,,,,388314957P,IN USE,44,ADD
DEPARTMENT OF DEFENCE,I&S,DEFENCE SECURITY AUTHORITY DIVISION,NOT APPLICABLE,NOT APPLICABLE,Directorate of Positive Vetting,DARREN,KEMP,redacted@example.com,532635,,Current Employee,8009274,CAMPBELL PARK,NORTHCOTT DRIVE,,CAMPBELL,ACT,2600,ACT,MARYANNE GATES,0262662493,TIM PAUL,HEAD DEFENCE SECURITY AUTHORITY,MR,redacted@example.com,10741,ADD,0404211984,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,45,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350607303881971,,IN USE,45,ADD,SIM CARD,,,,388315004P,IN USE,45,ADD
DEPARTMENT OF DEFENCE,I&S,DEFENCE SECURITY AUTHORITY DIVISION,NOT APPLICABLE,NOT APPLICABLE,Directorate of Positive Vetting,SUSAN,RYAN,redacted@example.com,532635,,Current Employee,8015509,CAMPBELL PARK,NORTHCOTT DRIVE,,CAMPBELL,ACT,2600,ACT,NINA CRAVEN,0262662544,TIM PAUL,HEAD DEFENCE SECURITY AUTHORITY,MR,redacted@example.com,12840,ADD,0404218605,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,46,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350607303898686,,IN USE,46,ADD,SIM CARD,,,,388314866P,IN USE,46,ADD
DEPARTMENT OF DEFENCE,I&S,DEFENCE SECURITY AUTHORITY DIVISION,NOT APPLICABLE,NOT APPLICABLE,Directorate Positive Vetting,KEITH,PRINN,redacted@example.com,532635,,Current Employee,8212072,RUSSELL OFFICES,RUSSELL DRIVE,,CANBERRA,ACT,2600,ACT,JUSTIN FLYNN,62669021,TIM PAUL,HEAD DEFENCE SECURITY AUTHORITY,MR,redacted@example.com,11615,ADD,0404228362,M,Telstra,8261491400,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,47,ADD,SIM CARD,,,,388314239P,IN USE,47,ADD,,,,,,,,
DEPARTMENT OF DEFENCE,NAVY,SYSTEMS COMMANDER DIVISION,NAVY PERSONNEL AND TRAINING BRANCH,NAVY EMPLOYMENT CONDITIONS DIRECTORATE,,DAVID,WILSON,redacted@example.com,242323,,Current Employee,8080436,RUSSELL OFFICES,RUSSELL DRIVE,,CANBERRA,ACT,2600,ACT,JAYNE CRAIG,0262651851,NIGEL COATES,DG NAVY PERSONNEL & TRAINING,COMMODORE,redacted@example.com,10882,ADD,0404726193,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,48,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350607304785114,,IN USE,48,ADD,SIM CARD,,,,B9610300000238937657,IN USE,48,ADD
DEPARTMENT OF DEFENCE,CDG,CAPABILITY SYSTEMS DIVISION, ,,,PAUL,RETTER,redacted@example.com,124100,,Current Employee,8216673,RUSSELL OFFICES,RUSSELL DRIVE,,CANBERRA,ACT,2600,ACT,NOREEN WILKIE,0262653934,MATTHEW TRIPOVICH,HEAD CAPABILITY SYSTEMS,REAR ADMIRAL,redacted@example.com,12212,ADD,0404815648,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,49,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350991308956933,,IN USE,49,ADD,SIM CARD,,,,89610300000237553588,IN USE,49,ADD
DEPARTMENT OF DEFENCE,CIOG,INFORMATION CAPABILITY MANAGEMENT DIVISION,DEFENCE NETWORK SUPPORT AGENCY,NETWORK OPERATIONS DIRECTORATE,,CORRINA,LOGAN,redacted@example.com,432426,,Current Employee,8205220,RUSSELL OFFICES,RUSSELL DRIVE,,CANBERRA,ACT,2600,ACT,NICOLE HEFFERMAN,0262650098,PETER ACUTT,COMMANDER DEFENCE NETWORK SUPPOR,BRIGADIER,n/a,10672,ADD,0404815657,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,50,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,353399000411149,,IN USE,50,ADD,SIM CARD,,,,381648732N,IN USE,50,ADD
DEPARTMENT OF DEFENCE,CSIG,INFRASTRUCTURE DIVISION,INFRASTRUCTURE ASSET DEVELOPMENT BRANCH,CONTRACTING DIRECTORATE,,ROBERT,BAIRD,redacted@example.com,679320,,Current Employee,8000687,BRINDABELLA PARK,26 BRINDABELLA CIRCUIT,,CANBERRA AIRPORT,ACT,2600,ACT,MALCOLM GREEN,6266 8229,PETER HUTCHINSON,DG INFRASTRUCTURE ASSET DEVELOPM,BRIGADIER,redacted@example.com,12466,ADD,0404815676,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,51,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350010301688201,,IN USE,51,ADD,SIM CARD,,,,89610300000237500000,IN USE,51,ADD
DEPARTMENT OF DEFENCE,DSTO, , ,,,PAUL,WHITBREAD,redacted@example.com,823000,,Current Employee,8018974,FERN HILL PARK,THYNNE STREET,,BRUCE,ACT,2617,ACT,MICHELLE KEEK,6256 6187,ALAN BURGESS,CHIEF COMMAND AND CONTROL DIVISI,DR,n/a,12226,ADD,0404823754,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,53,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,449302300716288,,IN USE,53,ADD,,,,,,,,
DEPARTMENT OF DEFENCE,NAVY,MARITIME COMMANDER DIVISION,FORCE ELEMENT GROUP BRANCH,COMAUSNAVSUBGRP DIRECTORATE,,ROLAND,VAN GEELEN,redacted@example.com,212113,,Current Employee,8069478,FLEET BASE WEST,POINT PERON ROAD,,GARDEN ISLAND,WA,6958,WA,CELIA YOUNG,0895532837,RICHARD SHALDERS,COMMANDER AUSTRALIAN NAVY SUBMAR,COMMODORE,redacted@example.com,12549,ADD,0404824000,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,STANDARD,54,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,355037009706659,,IN USE,54,ADD,SIM CARD,,,,89610300000109961018,IN USE,54,ADD
DEPARTMENT OF DEFENCE,CSIG,NATIONAL OPERATIONS DIVISION,PERSONNEL SERVICES BRANCH,,,DAVE,MUSTARD,redacted@example.com,754001,,Current Employee,8012691,LEEUWIN BARRACKS,RIVERSIDE ROAD,,EAST FREMANTLE,WA,6158,WA,MARK HOOKEY,0392827863,FRANCIS ROBERTS,HEAD NATIONAL OPERATIONS DIVISIO,MR,redacted@example.com,10772,ADD,0404831563,M,Telstra,,,,,CDMA,ACTIVE,N,N,N,N,N,N,SIM ONLY,56,ADD,MOBILE PHONE,OTHER,OTHER UNKNOWN,350010301441007,,IN USE,56,ADD,SIM CARD,,,,89610300000237884215,IN USE,56,ADD
